body {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  padding: 30px;
  backdrop-filter: blur(20px);
}

a {
  font-size: 16px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}